[submodule "ext/zlib"]
    path = ext/zlib
    url = git@github.com:mitsuba-renderer/zlib
[submodule "ext/libpng"]
    path = ext/libpng
    url = git@github.com:mitsuba-renderer/libpng.git
[submodule "ext/libjpeg"]
    path = ext/libjpeg
    url = git@github.com:mitsuba-renderer/libjpeg
[submodule "ext/openexr"]
    path = ext/openexr
    url = git@github.com:mitsuba-renderer/openexr
[submodule "ext/tinyformat"]
    path = ext/tinyformat
    url = git@github.com:mitsuba-renderer/tinyformat
[submodule "ext/pugixml"]
    path = ext/pugixml
    url = git@github.com:mitsuba-renderer/pugixml
[submodule "ext/asmjit"]
    path = ext/asmjit
    url = git@github.com:mitsuba-renderer/asmjit
[submodule "ext/pybind11"]
    path = ext/pybind11
    url = git@github.com:pybind/pybind11
[submodule "ext/nanogui"]
    path = ext/nanogui
    url = git@github.com:mitsuba-renderer/nanogui
[submodule "resources/data"]
    path = resources/data
    url = git@github.com:mitsuba-renderer/mitsuba-data
    shallow = true
[submodule "ext/embree"]
    path = ext/embree
    url = git@github.com:mitsuba-renderer/embree
[submodule "ext/ittnotify"]
	path = ext/ittnotify
	url = git@github.com:intel/IntelSEAPI
[submodule "ext/fastfloat"]
	path = ext/fastfloat
	url = git@github.com:fastfloat/fast_float
[submodule "tutorials"]
	path = tutorials
	url = git@github.com:mitsuba-renderer/mitsuba-tutorials
	shallow = true
[submodule "ext/drjit"]
	path = ext/drjit
	url = git@github.com:mitsuba-renderer/drjit
